body {
    background: #DAE2E8;
    font-family: sans-serif;
}
/* NAV*/

/* General */
.customNav {
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }
  .nav-item {
    margin: 0px 15px;

  }
 
  /* Navigation links */
  .customNav a {
    color: #203B31 !important;
    font-size: 32px;
  }
  .navCTA {
    font-size: 15px;
  }
/*portfolio*/

.container {
   display: grid; 
   grid-template-columns: 700px 700px;
    grid-template-rows: auto;
    grid-template-areas: 
    "KBYG DIY"
    "DIY DIY";
    margin: 0 auto;
    padding-top: 120px;
    
 
}
.KBYG {
    background: #7B8288;
}
.kbyg_img{
    display: block;
    width: 100%;
    height: auto;
    background-image: url(/Assets/Images/KBGY_hover.png);
    opacity: 1;
    transition: opacity .25s ease-in;
  
    
}
.kbyg_img:hover {
    background-image: url(/Assets/Images/KBGY_hover.png);
    opacity: .1;
    cursor: pointer;
}
.DIY {
    background: #7B8288;
}
.diy_img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity .25s ease-in;
}
.diy_img:hover {
    color: palevioletred;
    opacity: .1;
    cursor: pointer;
}
.ramble {
    background: #7B8288;
}
.ramble_img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity .25s ease-in;
}
.ramble_img:hover {
    opacity: .1;
    cursor: pointer;
}
.ramble_img {
    justify-content: right;
}
.footer li {
    display: inline-flex;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    
}
/*About Me*/

.resume {
    list-style: square;
}